h1
{
	font-style:italic;
	color:rgb(0,0,255);
	line-height:10px;
}
h1::first-letter
{
	color:red;
}
h2
{
	font-variant:large-caps;
	color: #ff0000;
}
h2::first-letter
{
	color:blue;
}

h3
{
	font-weight:lighter;
	color:hsl(90, 50%, 50%);
	
}

h3::first-letter
{
	color:red;
	font-size:30px;
}

h4
{
	font-size:50px;
	color:hsla(100, 50%,10%,0.3);
}
h4::first-letter
{
	color:red;
}

h5
{
	font-family:arial;
	color:rgba(255,0,0,0.5);
}
h5::first-letter
{
	color:red;
}

p
{
	line-height:30px;
}
p::first-letter
{
	color:red;
}
